body {
    background-image: url("../images/bg-maul.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: black;
    color: white;
}

.characterImgs {
    padding: 15px;
    background-color: white;
    border: solid 1px black;
}

.defenderImgs {
    padding: 15px;
    background-color: black;
    border: solid 1px red;
}